.studio_title {
    grid-column: 1/-1;
    text-align: center;
}

.studio_comparison, .studio_carrusel, .studio_text {
    grid-column: 1/-1;
}

@media screen and (min-width: 600px) {
    .studio_carrusel {
        grid-column: 1/5;
    }
    
    .studio_text {
        grid-column: 5/9;
    }
}